<a href="https://colab.research.google.com/github/namitasaurus/IO_MLDS_Tasks/blob/main/Namita_task1_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1: Please use the Pandas library to solve the following sub-questions:

In [18]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [19]:
import pandas as pd

In [20]:
#reading a csv file
data = pd.read_csv('tested.csv')

In [21]:
#making dataframe first
df = pd.DataFrame(data, index=None)
print(df)

     PassengerId  Survived  Pclass  \
0            892         0       3
1            893         1       3
2            894         0       2
3            895         0       3
4            896         1       3
..           ...       ...     ...
413         1305         0       3
414         1306         1       1
415         1307         0       3
416         1308         0       3
417         1309         0       3

                                             Name     Sex   Age  SibSp  Parch  \
0                                Kelly, Mr. James    male  34.5      0      0
1                Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                       Myles, Mr. Thomas Francis    male  62.0      0      0
3                                Wirz, Mr. Albert    male  27.0      0      0
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1
..                                            ...     ...   ...    ...    ...
413                            Spector, Mr. Woolf    male   NaN      0      0
414                  Oliva y Ocana, Dona. Fermina  female  39.0      0      0
415                  Saether, Mr. Simon Sivertsen    male  38.5      0      0
416                           Ware, Mr. Frederick    male   NaN      0      0
417                      Peter, Master. Michael J    male   NaN      1      1

                 Ticket      Fare Cabin Embarked
0                330911    7.8292   NaN        Q
1                363272    7.0000   NaN        S
2                240276    9.6875   NaN        Q
3                315154    8.6625   NaN        S
4               3101298   12.2875   NaN        S
..                  ...       ...   ...      ...
413           A.5. 3236    8.0500   NaN        S
414            PC 17758  108.9000  C105        C
415  SOTON/O.Q. 3101262    7.2500   NaN        S
416              359309    8.0500   NaN        S
417                2668   22.3583   NaN        C

[418 rows x 12 columns]

In [22]:
#counting number of rows and columns
rows = len(df.axes[0])
columns = len(df.axes[1])
print("number of rows is ", rows)
print("number of columns is ", columns)

number of rows is  418
number of columns is  12

In [23]:
#printing first ten and last ten values
df = pd.DataFrame(data, index=None)
#Last ten:
df1 = df.tail(10)
print(df1, "\n", "\n")
#first ten:
df2 = df.head(10)
print(df2, "\n", "\n")

     PassengerId  Survived  Pclass  \
408         1300         1       3
409         1301         1       3
410         1302         1       3
411         1303         1       1
412         1304         1       3
413         1305         0       3
414         1306         1       1
415         1307         0       3
416         1308         0       3
417         1309         0       3

                                                Name     Sex   Age  SibSp  \
408                  Riordan, Miss. Johanna Hannah""  female   NaN      0
409                        Peacock, Miss. Treasteall  female   3.0      1
410                           Naughton, Miss. Hannah  female   NaN      0
411  Minahan, Mrs. William Edward (Lillian E Thorpe)  female  37.0      1
412                   Henriksson, Miss. Jenny Lovisa  female  28.0      0
413                               Spector, Mr. Woolf    male   NaN      0
414                     Oliva y Ocana, Dona. Fermina  female  39.0      0
415                     Saether, Mr. Simon Sivertsen    male  38.5      0
416                              Ware, Mr. Frederick    male   NaN      0
417                         Peter, Master. Michael J    male   NaN      1

     Parch              Ticket      Fare Cabin Embarked
408      0              334915    7.7208   NaN        Q
409      1  SOTON/O.Q. 3101315   13.7750   NaN        S
410      0              365237    7.7500   NaN        Q
411      0               19928   90.0000   C78        Q
412      0              347086    7.7750   NaN        S
413      0           A.5. 3236    8.0500   NaN        S
414      0            PC 17758  108.9000  C105        C
415      0  SOTON/O.Q. 3101262    7.2500   NaN        S
416      0              359309    8.0500   NaN        S
417      1                2668   22.3583   NaN        C


   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3
5          897         0       3
6          898         1       3
7          899         0       2
8          900         1       3
9          901         0       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1
5                    Svensson, Mr. Johan Cervin    male  14.0      0      0
6                          Connolly, Miss. Kate  female  30.0      0      0
7                  Caldwell, Mr. Albert Francis    male  26.0      1      1
8     Abrahim, Mrs. Joseph (Sophie Halaut Easu)  female  18.0      0      0
9                       Davies, Mr. John Samuel    male  21.0      2      0

      Ticket     Fare Cabin Embarked
0     330911   7.8292   NaN        Q
1     363272   7.0000   NaN        S
2     240276   9.6875   NaN        Q
3     315154   8.6625   NaN        S
4    3101298  12.2875   NaN        S
5       7538   9.2250   NaN        S
6     330972   7.6292   NaN        Q
7     248738  29.0000   NaN        S
8       2657   7.2292   NaN        C
9  A/4 48871  24.1500   NaN        S

In [24]:
#finding mean
df = data.mean()
print(df)

PassengerId    1100.500000
Survived          0.363636
Pclass            2.265550
Age              30.272590
SibSp             0.447368
Parch             0.392344
Fare             35.627188
dtype: float64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

In [25]:
#finding median of every column
df = data.median()
print(df)

PassengerId    1100.5000
Survived          0.0000
Pclass            3.0000
Age              27.0000
SibSp             0.0000
Parch             0.0000
Fare             14.4542
dtype: float64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

In [26]:
#Sorting values of a column in descending order
df = data.sort_values(by=['Age'], ascending = False)
print(df)

     PassengerId  Survived  Pclass  \
96           988         1       1
81           973         0       1
236         1128         0       1
305         1197         1       1
179         1071         1       1
..           ...       ...     ...
408         1300         1       3
410         1302         1       3
413         1305         0       3
416         1308         0       3
417         1309         0       3

                                                  Name     Sex   Age  SibSp  \
96   Cavendish, Mrs. Tyrell William (Julia Florence...  female  76.0      1
81                                  Straus, Mr. Isidor    male  67.0      1
236                           Warren, Mr. Frank Manley    male  64.0      1
305  Crosby, Mrs. Edward Gifford (Catherine Elizabe...  female  64.0      1
179  Compton, Mrs. Alexander Taylor (Mary Eliza Ing...  female  64.0      0
..                                                 ...     ...   ...    ...
408                    Riordan, Miss. Johanna Hannah""  female   NaN      0
410                             Naughton, Miss. Hannah  female   NaN      0
413                                 Spector, Mr. Woolf    male   NaN      0
416                                Ware, Mr. Frederick    male   NaN      0
417                           Peter, Master. Michael J    male   NaN      1

     Parch     Ticket      Fare    Cabin Embarked
96       0      19877   78.8500      C46        S
81       0   PC 17483  221.7792  C55 C57        S
236      0     110813   75.2500      D37        C
305      1     112901   26.5500      B26        S
179      2   PC 17756   83.1583      E45        C
..     ...        ...       ...      ...      ...
408      0     334915    7.7208      NaN        Q
410      0     365237    7.7500      NaN        Q
413      0  A.5. 3236    8.0500      NaN        S
416      0     359309    8.0500      NaN        S
417      1       2668   22.3583      NaN        C

[418 rows x 12 columns]

In [27]:
#check for null values and drop a column with null values
df = df.dropna(axis=1)
print(df)

     PassengerId  Survived  Pclass  \
96           988         1       1
81           973         0       1
236         1128         0       1
305         1197         1       1
179         1071         1       1
..           ...       ...     ...
408         1300         1       3
410         1302         1       3
413         1305         0       3
416         1308         0       3
417         1309         0       3

                                                  Name     Sex  SibSp  Parch  \
96   Cavendish, Mrs. Tyrell William (Julia Florence...  female      1      0
81                                  Straus, Mr. Isidor    male      1      0
236                           Warren, Mr. Frank Manley    male      1      0
305  Crosby, Mrs. Edward Gifford (Catherine Elizabe...  female      1      1
179  Compton, Mrs. Alexander Taylor (Mary Eliza Ing...  female      0      2
..                                                 ...     ...    ...    ...
408                    Riordan, Miss. Johanna Hannah""  female      0      0
410                             Naughton, Miss. Hannah  female      0      0
413                                 Spector, Mr. Woolf    male      0      0
416                                Ware, Mr. Frederick    male      0      0
417                           Peter, Master. Michael J    male      1      1

        Ticket Embarked
96       19877        S
81    PC 17483        S
236     110813        C
305     112901        S
179   PC 17756        C
..         ...      ...
408     334915        Q
410     365237        Q
413  A.5. 3236        S
416     359309        S
417       2668        C

[418 rows x 9 columns]

Q2. Please use the NumPy library to solve the following questions.The array for your reference is given below:

In [28]:
pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)

In [29]:
import numpy as np

In [31]:
Arr1 = [1,2,3,2,3,4,3,4,5,6]
Arr2 = [7,2,10,2,7,4,9,4,9,8]
#creating 1D array
arr1 = np.array(Arr1)
print("1D array 1: ", arr1, "\n")
arr2 = np.array(Arr2)
print("1D array 2:", arr2, "\n")
#reshaping 1D to 2D array
arr1 = arr1.reshape(5, 2)
arr2 = arr2.reshape(5, 2)
print("array 1, reshaped: ", arr1, '\n')
print("array 2, reshaped: ", arr2, "\n")
#Get common items between 2 arrays
common = np.intersect1d(arr1,arr2)
l = (common)
print("Common values: ", common)
#Remove items from Arr1 that match Arr2

for i in range(0, len(arr1)-1):
  if arr1[i] in arr2:
    arr = np.delete(arr1, i)
print(arr)
#Check for null values in an array
if len(Arr1) <= 10:
  print("There are null values in array 1")
if len(Arr2) <= 10: 
  print("There are null values in array 2")

1D array 1:  [1 2 3 2 3 4 3 4 5 6]

1D array 2: [ 7  2 10  2  7  4  9  4  9  8]

array 1, reshaped:  [[1 2]
 [3 2]
 [3 4]
 [3 4]
 [5 6]]

array 2, reshaped:  [[ 7  2]
 [10  2]
 [ 7  4]
 [ 9  4]
 [ 9  8]]

Common values:  [2 4]
[1 2 3 3 4 3 4 5 6]
There are null values in array 1
There are null values in array 2